<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple Task App</title>
</head>
<body>
<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="text">
        <input #txt type="text" class="form-control form-control-dark text-bg-dark" placeholder="Add a Task" aria-label="Add a Task">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-primary" (click)="saveTask(txt)" )>Add</button>
      </div>
    </div>
  </div>
</header>
<ng-container *ngFor="let task of taskList">

  <div class="p-3 py-2">
    <div class="form-check d-flex justify-content-between">
      <div>
        <input [checked]="task.status ==='COMPLETED'" id="task-{{task.id}}" class="form-check-input" type="checkbox"
               value="" id="flexCheckDefault">
        <label for="task-{{task.id}}" class="form-check-label">
          {{task.description}} </label>
      </div>
      <span class="trash" title="Delete task" (click)="deleteTask(task)" > <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                                                fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
  <path
    d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
</svg></span>
    </div>
  </div>

</ng-container>
</body>
</html>
